# Virtual environment
/venv/

# Data files
/raw_data/

# Python cache
**/__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
**/.ipynb_checkpoints/
text_checkpoint/

# PyTorch model files
**.pth

# macOS system files
.DS_Store

# images
*.png

# json files
*.json 

# model files
*.safetensors
*.pt